*{
  font-family: 'Poppins';
}

p{
  color: #252837;
  margin: 0;
  font-family: 'Poppins';
}

button:hover{
  background-color: #fff;
  color: #ffef02;
}
.container{
  margin-top: 100px;
}
.toolbar{
  display: flex;
}
.search-container{
  flex: 1;
  padding: 20px;
  position: relative;
}  
.shows-container{
  flex: 3;
  text-align: center;
}
.header{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 21px;
} 
.buttons-container{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
}
.login{
  min-width: 120px;
  min-height: 40px;
  margin: 0 5px;
  color: #252837;
  background-color: #ffef02;
  max-height: 50px;
}
.sign-up{
  min-width: 120px;
  min-height: 40px;
  margin: 0 5px;
  color: #252837;
  background-color: #ffef02;
  opacity: .6;
  max-height: 50px;
}
.show img{
  /*object-fit: cover;*/
  /*object-position: -20% 0;*/
  /*width: 300px;*/
  height: 350px;
}

.show{
  display: flex;
  flex-direction: column;
}

.show-container{
  display: flex;
  flex-direction: column;
}

.show-title{
  font-size: 20px;
  font-weight: bold;
  background-color: #252837;
  color: #fff;
  padding: 10px;
  text-indent: 2px;
}

hr{
  margin: 0 15px;
  height: 26px;
}

.show-genres, .show-created-at, .show-updated-at{
  padding: 10px 16px;
}

.seasons-and-episodes{
  display: flex;
  flex-direction: row;
  padding: 10px 16px;
}

.text-container{
  background-color: #fff;
  /*-webkit-box-shadow: 14px 0px 60px 2px rgba(0,0,0,0.21);*/
  /*-moz-box-shadow: 14px 0px 60px 2px rgba(0,0,0,0.21);*/
  /*box-shadow: 14px 0px 60px 2px rgba(0,0,0,0.21);*/
  /*height: 200px;*/
  margin-top: 10px;
  border-radius: 0 2px 2px 0;
  width: 260px;
}

.subtitle-container{
  margin: 40px 0 40px 40px;
  width: 88%;
  height: 100%;
}