body, html {
  height: 100%;
  margin: 0;
}
button{
  outline: none;
}
.show-container{
  position: relative;
  margin: 10px;
}
.backdrop-image{
  width: 900px;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.show-container:hover{
  opacity: .8;
}
.card-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 900px;
  height: 506px;
  background-color: rgba(0, 0, 0, .4);
}
.backdrop-image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-show-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.genres{
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  color: #252837;
  padding: 2px 10px;
  background-color: #fff;
}
.title{
  font-family: Poppins;
  font-size: 42px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 10px 25px 10px;
}
.seasons-and-episodes{
  font-family: Poppins;
  font-size: 20px;
  color: #fff;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}
.seasons-and-episodes p{
  margin: 2px 12px;
}
.seasons-and-episodes hr{
  height: 26px;
}
.subtitle-cont{
  width: 750px;
}
.subtitle{
  font-family: Helvetica;
  font-size: 15px;
  color: #fff;
  padding: 10px;
}
.genres-cont{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.learn-more-button{
  background-color: rgba(0, 0, 0, .4);
  min-width: 250px;
  min-height: 100px;
  padding: 20px;
  border-radius: 0px;
}
.learn-more-button span{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.learn-more{
  font-family: Helvetica;
  color: #fff;
  font-size: 12px;
}